<h3>Please input your first-name, last-name, username, and password</h3>
<form action="/credentials" method="POST">
  <input type="text" name="f_name" placeholder="First Name">
  <input type="text" name="l_name" placeholder="Last Name"> <br>
	<input type="text" name="username" placeholder="Username">
  <input type="text" name="password" placeholder="Password"><br>
	<input type="submit" value="Submit">
</form>
