<h3>Please enter your Username and Password</h3>

<h3>Params from google are <%=session[:name]%></h3>

<form action="/login" method="POST">
	<input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
	<input type="submit" value="Submit">
</form>
