<h3>Great job...you paid!</h3>

<h3>Your transaction token is:</h3><br>
<p><%=session[:token]%></p><br>

<h3>Type of payment is:</h3><br>
<p><%=session[:type]%></p><br>

<h3>The email you used for payment is:</h3>
<p><%=session[:email]%></p><br>
