<h3>Google Login</h3>



<script src="https://apis.google.com/js/platform.js" async defer></script>
<!-- ##### The client id comes from setting up a project on google developer site...can set origin url's etc -->
<meta name="google-signin-client_id" content="697255585429-724fv85j70mhpiuupuntchduf0o5fulv.apps.googleusercontent.com">
<!-- <div class="g-signin2" data-onsuccess="onSignIn" onclick="location.href='https://isbn-web.herokuapp.com/input'"></div> -->
<!--The line below is for development testing  -->
<div class="g-signin2" data-onsuccess="onSignIn" onclick="location.href='https://isbn-web.herokuapp.com/login'"></div>

<script>
function onSignIn(googleUser) {
	var profile = googleUser.getBasicProfile();
	console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
	console.log('Name: ' + profile.getName());
	var name = profile.getId();
	var email = profile.getEmail();
	console.log('Image URL: ' + profile.getImageUrl());
	console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
}
</script>
<input type="hidden" id="myField" value="" />
<script>
	document.getElementById('myField').value = name;
</script>


<!-- <input type="button" value="Google Sign-out" id="signout"> -->
<a href="#" onclick="signOut();">Sign out</a>

<!--  ##### Note: This signout function will not work on localhost-->
<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>


<h3>Facebook Login</h3>

<!-- Must set up an app on facebook developer which contains info such as domain url, valid redirect url's, etc -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '427502157700569',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.8'
    });


	FB.getLoginStatus(function(response) {
	    statusChangeCallback(response);
	});

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

	 function statusChangeCallback(response) {
		 console.log(response);
		 if(response.status === 'connected') {
			 console.log('Logged in and Authenticated');
		 }else{
			 console.log('Not Authenticated');
		 }
	 }

		function checkLoginState() {
		  FB.getLoginStatus(function(response) {
		    statusChangeCallback(response);

				FB.login(function(response) {
				 if (response.authResponse)
						window.top.location = "https://isbn-web.herokuapp.com/login";
					});

		  });
		}

		// Redirect if logged into facebook
		// FB.login(function(response) {
    //  if (response.authResponse) {
    //     window.top.location = "https://isbn-web.herokuapp.com/login";
		// 	});

</script>


<fb:login-button
  scope="public_profile,email"
  onlogin="checkLoginState();">
</fb:login-button>


<h3>Username and Password Login</h3>

<form action="credentials" method="get">
	<input type="submit" value="Create New Login">
</form>

<form action="login" method="get">
	<input type="submit" value="Login Here">
</form>
