<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
</head>
<body>
	<h1>Welcome to ISBN Checker</h1>
	<h2>Please enter your name below?</h2>

	<form method="get" action="input">
		<input type="text" name="f_name" autofocus="">
		<input type="text" name="l_name">
		<input type="submit" value="Submit">
	</form>

</body>
</html>