
	<h1>Welcome to ISBN Checker</h1>
	<h2>Please enter your name below?</h2>

	<form method="get" action="credentials">
		<input type="text" name="f_name" autofocus required>
		<input type="text" name="l_name" required>
		<input type="submit" value="Submit">
	</form>
